.productdisplay{
    display: flex;
    margin: 0px 170px;
}
.productdisplay-left{
    display: flex;
    gap: 12px;
}
.productdisplay-img-list{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.productdisplay-img-list img{
    height: 104px;
}
.productdisplay-main-img{
    width: 405px;
    height: 450px; 
}
.productdisplay-right-star{
    display: flex;
    align-items: center;
    margin-top: 7px;
    gap: 5px;
    color: #1c1c1c;
    font-size: 13px;
}
.productdisplay-right-prices{
    display: flex;
    margin: 21px 0px;
    gap: 30px;
    font-size: 24px;
    font-weight: 700;
}
.productdisplay-right-price-old{
    color: #818181;
    text-decoration: line-through;
    font-size: 18px;
}
.productdisplay-right-price-new{
    color: #ff4141;
    font-size: 18px;
}
.productdisplay-right-size h1{
    margin-top: 22px;
    color: #656565;
    font-size: 16px;
    font-weight: 600;
}
.productdisplay-right-sizes{
    display: flex;
    margin: 22px 0px;
    gap: 20px;
}
.productdisplay-right-sizes div{
    padding: 8px 17px;
    background: #fbfbfb;
    border: 1px solid #ebebeb;
    border-radius: 3px;
    cursor: pointer;
}
.productdisplay-right button{
    padding: 15px 40px;
    width: 163px;
    font-size: 12px;
    font-weight: 600;
    color: white;
    background: #ff4141;
    margin-bottom: 17px;
    border: none;
    outline: none;
    cursor: pointer;
}
.productdisplay-right-category{
    margin-top: 3px;
    font-size: 15px;
}
.productdisplay-right-category span{
    font-weight: 600;
}
.productdisplay-right-description{
    width: 596px;
    font-size: 14px;
}
.productdisplay-right-star img{
    width: 2%;
}